:root {
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);
}

* {
    min-widht: 0;
    font: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: url('./images/bg-mobile.svg') no-repeat;
    background-color: var(--violet);
    background-position: top;
    color: white;
}

.section-1 {
    padding: 2em;
}

.logo {
    width: 8em;
    margin-bottom: 3em;
}

img, svg {
    height: auto;
    max-width: 100%;
    margin: 0;
}

.section-2 {
    display: grid;
    justify-items: center;
    padding: 1.88em;
    padding-top: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.7;
    text-align: center;
}

button {
    width: 15em;
    padding: 1em;
    margin: 1.5em 0;
    border: none;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: var(--violet);
    font-size: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button:hover {
    background-color: var(--softMagenta);
    color: white;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4.4em 0 0 0;

    & i {
        margin: 7px;
        padding: 18px;
        color: white;
        border: 1px solid white;
        border-radius: 50%;
    }

    & .fa-brands {
        width: 1em;
        height: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & a {
        text-decoration: none;
    }
}

footer {
    text-align: center;

    & a {
        text-decoration: none;
    }
}

@media (min-width: 380px) {
    body {
        background: url('./images/bg-desktop.svg') no-repeat;
        background-color: var(--violet);
    }
}

@media (min-width: 770px) {
    
    body {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        background-size: cover;
        width: 90%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .logo {
        width: 12em;
    }

    h1 {
        font-size: 2.2rem;
        text-align: left;
        text-wrap: balance;
        max-width: 20ch;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        margin-top: 7em;
        padding: 0;
    }

    .section-2 p {
        font-size: 1.125rem;
        text-align: left;
        text-wrap: balance;
        max-width: 80ch;
    }

    .social {
        margin: 2em 5em 0 0;
        display: flex;
        justify-content: flex-end;
    }

    footer {
        grid-column: 1 / 3;
    }
}

